<%= @walk.name %>
<%= @walk.distance %> miles
<div class= "start_location">
  <%= @walk.start_location.address %>
</div>
<div class="sights">
  <% @walk.locations.each do |location| %>
    <%= location.sight.name %>
    <%= location.address %>
  <% end %>
</div>
<div class= "finish_location">
  <%= @walk.finish_location.address %>
<div>
