<div id="directions"></div>
<%= javascript_include_tag('map_style.js') %>
<script>
  $(document).ready(function initialize(){
    var directionsService = new google.maps.DirectionsService();
    var directionsDisplay = new google.maps.DirectionsRenderer();
    var waypoints = <%= @walk.waypoints.html_safe %>;
    var wypnts = [];

    for (var i = 0; i < waypoints.length; i++) {
      wypnts.push({
          location: new google.maps.LatLng(waypoints[i].latitude, waypoints[i].longitude),
          stopover: true
      });
    }

    function calcRoute(){
      var origin = new google.maps.LatLng(<%= @walk.start_location.latitude %>,<%= @walk.start_location.longitude %>);
      var destination = new google.maps.LatLng(<%= @walk.start_location.latitude %>, <%= @walk.start_location.longitude %>);

      var request = {
        origin: origin,
        destination:destination,
        waypoints: wypnts,
        optimizeWaypoints: true,
        travelMode: google.maps.DirectionsTravelMode.WALKING,
        unitSystem: google.maps.UnitSystem.IMPERIAL
      };

      var currentUrl = window.location.href;
      var parsedUrl = $.get(currentUrl)
      console.log(parsedUrl)

      directionsService.route(request ,function(response, status) {
        jQuery.param(response.routes[0])
        if (status == google.maps.DirectionsStatus.OK) {
          var legs = response.routes[0].legs
          var legsLength = legs.length;
          var step_distance = document.getElementById('step_distance');
          var totalDistance = 0;
          var totalDuration = 0;
          for (var i = 0; i < legsLength; i++) {
            totalDistance += legs[i].distance.value;
            totalDuration += legs[i].duration.value;
            var all_legs = document.getElementById("all-legs");
            var leg_id = "leg-" + (i)
            var leg_steps_id = "leg_steps" + (i)
            var leg_address = legs[i].start_address;
            var street_address = legs[i].start_address.split("Denver", 1)
            var city_state_zip = legs[i].start_address.split(",").slice(-3, -1)

            all_legs.innerHTML +=
            '<div class="leg" id="' + (leg_id) +'">' +
              '<div class="waypoint">' +
                '<img width="16" height="16" align="left" src="http://www.iconsdb.com/icons/preview/guacamole-green/circle-outline-xl.png" class="icon"></img>' +
                '<div class="street-address">' +
                  (street_address) +
                '</div>' +
                '<div class= "city_state_zip">' +
                  (city_state_zip)+
                '</div>' +
              '</div>' +
              '<div class="steps">' +
                '<ol id="' + (leg_steps_id) + '">' +
                '</ol>' +
              '</div>' +
            '</div>';

            var stepsLength = legs[i].steps.length;
            for (var j = 0; j < stepsLength; j++) {
              var leg_steps = document.getElementById(leg_steps_id)
              var step_id = "step-" + (i)
              var instructions = legs[i].steps[j].instructions;
              var stepLength = legs[i].steps[j].distance.text;
              console.log(stepLength);
              leg_steps.innerHTML +=
              '<li class="step" id=""' + (step_id) + '>' +
                '<div class="instructions">' +
                  '<div class="text">' +
                    (instructions) +
                  '</div>' +
                '</div>' +
                '<div class="distance">' +
                  '<div class="line">' +
                  '</div>' +
                  '<div class="distance_text">' +
                    (stepLength) +
                  '</div>' +
                '</div>' +
              '</li>';
            }
          }
          step_distance.innerHTML += Math.round( totalDistance * 0.000621371 )+' miles, '
          step_distance.innerHTML += Math.round( totalDuration / 60 )+' minutes'
          directionsDisplay.setDirections(response);
        }
      });
    }
    calcRoute();

    handler = Gmaps.build('Google');
    handler.buildMap({
        provider: {
          zoom: 8,
          center: new google.maps.LatLng(<%= @walk.start_location.latitude %>, <%= @walk.start_location.longitude %>),
          styles: mapStyle
        },
        internal: {
          id: 'directions'
        }
      },
      function(){
        directionsDisplay.setMap(handler.getMap());
      }
    );
  });
</script>
